section{
    height: 270px;
    width: 300px;
    }
/* CSS REGISTRAR */
.registrar{
    height: 270px;
    width: 300px;
    }
    .volver_registrar{
        margin-top: 10px;
        margin-left: -230px;
    }
    .registrarse_registrar{
        margin-top: 10px;

    }
/* FIN CSS REGISTRAR */
/* CSS LOGIN */
.iniciarsesion_login{
    margin-top: 10px;
}
.href_login{
    margin-top: 60px;
    margin-left: -140px;

}
/* CSS MODIFICAR PERFIL */
.img_modificarperfil {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    margin-top: 100px;
    margin-left: -280px;
    border: 1px solid black;
    top: 0;
  }

.modificarperfil{
    height: 400px;
width: 600px;
}
.volver_modificarperfil{
    margin-top: 150px;
    margin-left: -500px;
}
.submit_modificarperfil{
    margin-top: 30px;
}
.subir_modificarperfil{
position: absolute;
margin-top: 170px;
margin-left: -237px;

}
/*FIN CSS MODIFICAR PERFIL*/
.container {
    margin: 10px auto;
    display: table;
    width: auto;
}
    float: left;
    margin-top: 30px;
} */
.mensaje_textarea{
    height: 150px;
    width:  250px;
}