section{
height: 270px;
width: 300px;
}
.container {
    margin: 10px auto;
    display: table;
    width: auto;
}
.navegacion{
    float: left;
    margin-top: 30px;
}
.mensaje_textarea{
    height: 150px;
    width:  250px;
}